node-red/flows.json
[{"id":"3f837925.6a1126","type":"tab","label":"MQTT Console","disabled":false,"info":""},{"id":"78a4454a.07726c","type":"tab","label":"Home/Away Mode","disabled":true,"info":"There are 2 main things that this flow needs to do.\n\n* Create a random lighting pattern when the house is empty AND the sun is down.\n* Run the Roombas when the house is empty, get them back to their docks, charge, then continue cleaning when they're charged."},{"id":"d87553de.ea50b","type":"tab","label":"Roomba","disabled":false,"info":""},{"id":"574972c7.8e500c","type":"server","z":"","name":"Home Assistant","legacy":false},{"id":"8fb20f4a.f470d","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"core-mosquitto","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cdeb0422.7c23a8","type":"debug","z":"3f837925.6a1126","name":"Debug Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":120,"wires":[]},{"id":"385038c0.da57a8","type":"mqtt out","z":"3f837925.6a1126","name":"MQTT Post","topic":"test","qos":"2","retain":"","broker":"8fb20f4a.f470d","x":510,"y":220,"wires":[]},{"id":"ed9dc912.21ff98","type":"mqtt in","z":"3f837925.6a1126","name":"All MQTT Messages","topic":"#","qos":"2","broker":"8fb20f4a.f470d","x":230,"y":120,"wires":[["cdeb0422.7c23a8"]]},{"id":"75340f7b.a358c","type":"inject","z":"3f837925.6a1126","name":"MQTT Test Message","topic":"test","payload":"This is a test from Node-RED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":220,"wires":[["385038c0.da57a8"]]},{"id":"76f3a5d4.98e17c","type":"server-state-changed","z":"78a4454a.07726c","name":"Vacancy","server":"574972c7.8e500c","entityidfilter":"binary_sensor.vacancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":100,"y":160,"wires":[["e7d6faea.d76678","13d5c0dd.f129cf"]]},{"id":"14ee522b.1eabce","type":"api-call-service","z":"78a4454a.07726c","name":"Notify","server":"574972c7.8e500c","service_domain":"notify","service":"notify","data":"{\"title\":\"Goodbye\",\"message\": \"Home Assistant is now in Away Mode\"}","mergecontext":"","x":570,"y":60,"wires":[[]]},{"id":"c81b3bcf.dc45f8","type":"switch","z":"78a4454a.07726c","name":"Lighting ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"above_horizon","vt":"str"},{"t":"eq","v":"below_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":723,"y":111,"wires":[["a0e6b1a0.fdf5b"],["f77b7dc9.edc7c"]]},{"id":"1caf7248.5449fe","type":"api-current-state","z":"78a4454a.07726c","name":"Sun","server":"574972c7.8e500c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sun.sun","x":573,"y":111,"wires":[["c81b3bcf.dc45f8"]]},{"id":"a0e6b1a0.fdf5b","type":"api-call-service","z":"78a4454a.07726c","name":"Turn Off Lights","server":"574972c7.8e500c","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"group.all_lights\" }","mergecontext":"","x":1060,"y":160,"wires":[[]]},{"id":"442ade87.80a59","type":"delay","z":"78a4454a.07726c","name":"Random Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"15","randomUnits":"minutes","drop":false,"x":1080,"y":220,"wires":[["1caf7248.5449fe"]]},{"id":"13d5c0dd.f129cf","type":"switch","z":"78a4454a.07726c","name":"Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":160,"wires":[["14ee522b.1eabce","1caf7248.5449fe"],["c5543020.209ef","a0e6b1a0.fdf5b"]]},{"id":"e715fa2e.a66b18","type":"api-call-service","z":"78a4454a.07726c","name":"Toggle Light","server":"574972c7.8e500c","service_domain":"light","service":"toggle","data":"","mergecontext":"","x":1070,"y":280,"wires":[["442ade87.80a59"]]},{"id":"f77b7dc9.edc7c","type":"random","z":"78a4454a.07726c","name":"","low":"1","high":"4","inte":"true","property":"payload","x":480,"y":280,"wires":[["ba2c4086.50fd2"]]},{"id":"ba2c4086.50fd2","type":"switch","z":"78a4454a.07726c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":280,"wires":[["ec744093.3cc1d"],["149d30d6.770aaf"],["61c8f5e1.f9b2bc"],["1e8ae2b1.ef846d"]],"outputLabels":["light.floor_lamp","light.floor_lamp_left","light.floor_lamp_right","light.richards_lamp"]},{"id":"ec744093.3cc1d","type":"change","z":"78a4454a.07726c","name":"light.floor_lamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"entity_id\" : \"light.floor_lamp\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":220,"wires":[["e715fa2e.a66b18"]]},{"id":"61c8f5e1.f9b2bc","type":"change","z":"78a4454a.07726c","name":"light.floor_lamp_right","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"entity_id\" : \"light.floor_lamp_right\" }","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["e715fa2e.a66b18"]]},{"id":"1e8ae2b1.ef846d","type":"change","z":"78a4454a.07726c","name":"light.richards_lamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"entity_id\" : \"light.richards_lamp\" }","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":340,"wires":[["e715fa2e.a66b18"]]},{"id":"149d30d6.770aaf","type":"change","z":"78a4454a.07726c","name":"light.floor_lamp_left","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"entity_id\" : \"light.floor_lamp_left\" }","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":260,"wires":[["e715fa2e.a66b18"]]},{"id":"1035d1f7.bd7bee","type":"comment","z":"78a4454a.07726c","name":"README","info":"When this is working, message this flow to @Lawrence#1619 on the Home Assistant Discord.","x":120,"y":100,"wires":[]},{"id":"965966c6.a101b8","type":"poll-state","z":"d87553de.ea50b","name":"Downstairs Roomba","server":"574972c7.8e500c","updateinterval":"300","outputinitially":true,"outputonchanged":false,"entity_id":"vacuum.roomba_downstairs","x":130,"y":220,"wires":[["ab7f5f05.6c8e8"]]},{"id":"c3ef1984.32af38","type":"poll-state","z":"d87553de.ea50b","name":"Upstairs Roomba","server":"574972c7.8e500c","updateinterval":"300","outputinitially":true,"outputonchanged":false,"entity_id":"vacuum.roomba_upstairs","x":120,"y":280,"wires":[["ab7f5f05.6c8e8"]]},{"id":"ab7f5f05.6c8e8","type":"switch","z":"d87553de.ea50b","name":"Status","property":"payload.data.attributes.status","propertyType":"jsonata","rules":[{"t":"eq","v":"Cleaning","vt":"str"},{"t":"eq","v":"Docked & Charging","vt":"str"},{"t":"eq","v":"Stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":240,"wires":[["782e4522.9ea99c"],["6c9e032d.1e736c"],["467b442a.abf2ac"]]},{"id":"782e4522.9ea99c","type":"switch","z":"d87553de.ea50b","name":"Battery < 50","property":"payload.data.attributes.battery_level","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":200,"wires":[["19cf195e.6daecf"]]},{"id":"bf70b423.2354b8","type":"api-call-service","z":"d87553de.ea50b","name":"Send Home","server":"574972c7.8e500c","service_domain":"vacuum","service":"return_to_base","data":"{ \"entity_id\": \"{{msg.payload.data.entity_id}}\" }","mergecontext":"","x":790,"y":200,"wires":[[]]},{"id":"38032ff8.7bec","type":"api-current-state","z":"d87553de.ea50b","name":"Vacancy","server":"574972c7.8e500c","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.vacancy","x":620,"y":240,"wires":[["50e8eafb.36ee44"]]},{"id":"6c9e032d.1e736c","type":"switch","z":"d87553de.ea50b","name":"Battery > 95","property":"payload.data.attributes.battery_level","propertyType":"msg","rules":[{"t":"gte","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":240,"wires":[["38032ff8.7bec"]]},{"id":"467b442a.abf2ac","type":"switch","z":"d87553de.ea50b","name":"Stopped > 5 Min","property":"payload.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gt","v":"300000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":280,"wires":[["5d659d26.508494"]]},{"id":"50e8eafb.36ee44","type":"api-call-service","z":"d87553de.ea50b","name":"Keep Cleaning","server":"574972c7.8e500c","service_domain":"vacuum","service":"start_pause","data":"{ \"entity_id\": \"{{msg.payload.data.entity_id}}\" }","mergecontext":"","x":800,"y":240,"wires":[[]]},{"id":"aa9c9662.9ccd28","type":"api-call-service","z":"d87553de.ea50b","name":"Dead Roomba","server":"574972c7.8e500c","service_domain":"notify","service":"notify","data":"","mergecontext":"","x":800,"y":280,"wires":[[]]},{"id":"ecd2f1b7.38476","type":"server-state-changed","z":"d87553de.ea50b","name":"Vacancy","server":"574972c7.8e500c","entityidfilter":"binary_sensor.vacancy","entityidfiltertype":"substring","haltifstate":"off","outputinitially":false,"x":100,"y":100,"wires":[["9475e134.37545"]]},{"id":"6a1bb06c.4fa76","type":"api-call-service","z":"d87553de.ea50b","name":"Start Vacuums","server":"574972c7.8e500c","service_domain":"vacuum","service":"turn_on","data":"{ \"entity_id\" : \"group.all_vacuum_cleaners\"}","mergecontext":"","x":800,"y":100,"wires":[[]]},{"id":"e7d6faea.d76678","type":"debug","z":"78a4454a.07726c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":80,"wires":[]},{"id":"6da8c5e5.82e0bc","type":"inject","z":"d87553de.ea50b","name":"Manual Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":520,"wires":[[]]},{"id":"c358c680.758ad8","type":"inject","z":"78a4454a.07726c","name":"Manual Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["13d5c0dd.f129cf"]]},{"id":"c5543020.209ef","type":"api-call-service","z":"78a4454a.07726c","name":"Notify","server":"574972c7.8e500c","service_domain":"notify","service":"notify","data":"{\"title\":\"Welcome Home\",\"message\": \"Home Assistant is now in Home Mode\"}","mergecontext":"","x":430,"y":200,"wires":[[]]},{"id":"9475e134.37545","type":"api-current-state","z":"d87553de.ea50b","name":"On Vacation","server":"574972c7.8e500c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"group.vacation_settings","x":470,"y":100,"wires":[["6a1bb06c.4fa76"]]},{"id":"552f31e4.b1786","type":"server-state-changed","z":"d87553de.ea50b","name":"Occupancy","server":"574972c7.8e500c","entityidfilter":"binary_sensor.occupancy","entityidfiltertype":"substring","haltifstate":"off","outputinitially":false,"x":100,"y":420,"wires":[["b66fe363.758be8"]]},{"id":"3df04d44.422042","type":"api-call-service","z":"d87553de.ea50b","name":"Dock Vacuums","server":"574972c7.8e500c","service_domain":"vacuum","service":"return_to_base","data":"{ \"entity_id\" : \"group.all_vacuum_cleaners\"}","mergecontext":"","x":800,"y":420,"wires":[[]]},{"id":"4003c246.53fa1c","type":"comment","z":"d87553de.ea50b","name":"When Leaving","info":"","x":110,"y":40,"wires":[]},{"id":"44af7f3.bed078","type":"comment","z":"d87553de.ea50b","name":"When Gone","info":"","x":110,"y":160,"wires":[]},{"id":"336daf1a.b9091","type":"comment","z":"d87553de.ea50b","name":"When Arriving","info":"","x":110,"y":360,"wires":[]},{"id":"19cf195e.6daecf","type":"api-call-service","z":"d87553de.ea50b","name":"Stop","server":"574972c7.8e500c","service_domain":"vacuum","service":"return_to_base","data":"{ \"entity_id\": \"{{msg.payload.data.entity_id}}\" }","mergecontext":"","x":630,"y":200,"wires":[["bf70b423.2354b8"]]},{"id":"b66fe363.758be8","type":"api-call-service","z":"d87553de.ea50b","name":"Stop","server":"574972c7.8e500c","service_domain":"vacuum","service":"return_to_base","data":"{ \"entity_id\": \"{{msg.payload.data.entity_id}}\" }","mergecontext":"","x":450,"y":420,"wires":[["3df04d44.422042"]]},{"id":"6c140f89.d8ed08","type":"debug","z":"d87553de.ea50b","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":520,"wires":[]},{"id":"5d659d26.508494","type":"template","z":"d87553de.ea50b","name":"Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n    \"data\": {\n        \"message\": \"The {{ msg.payload.data.attributes.friendly_name }} is dead somewhere.\"\n    }\n}","output":"json","x":640,"y":280,"wires":[["aa9c9662.9ccd28"]]}]